@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arizonia&family=Bilbo+Swash+Caps&family=Buda:wght@300&family=Cinzel+Decorative:wght@400;700&family=Cinzel:wght@500&family=Cormorant+Garamond:wght@500&family=Dancing+Script:wght@500;600&family=Euphoria+Script&family=Fondamento:ital@1&family=Great+Vibes&family=Italianno&family=Kaushan+Script&family=Marck+Script&family=Megrim&family=Montez&family=Niconne&family=Nothing+You+Could+Do&family=Qwigley&family=Tangerine:wght@700&display=swap');
body{
background: url(H2.jpg);
opacity: 0.9;
position: relative;
background-attachment: fixed;
background-position: center;
background-size: cover; 
background-repeat: no-repeat;
}
.h1{
letter-spacing: 4px;
position: absolute;
top: 70px;
left: 3.5%;
color: white;
font-style: italic;
font-size: 60px;
font-family: 'Kaushan Script', cursive;
text-shadow: 0 0 12px #000;
-webkit-filter: drop-shadow( -5px -5px 5px #000 );
 filter: drop-shadow( -5px -5px 5px #000 );
}
.h2{
position: absolute;
color: white;
font-size: 40px;
top: 1080px;
left: 0.5%;
font-family: 'Megrim', cursive;
font-style: italic;
padding: 10px;
letter-spacing: 11px;
text-shadow: 0 0 12px #000;
-webkit-filter: drop-shadow( -5px -5px 5px #000 );
 filter: drop-shadow( -5px -5px 5px #000 );
}

.word{
top: 1140px;
left: 6.5%;
color:white;
font-style: italic;
font-size: 40px;
font-family: 'Megrim', cursive;
position: absolute;
letter-spacing: 11px;
padding: 10px;
text-shadow: 0 0 12px #000;
-webkit-filter: drop-shadow( -5px -5px 5px #000 );
 filter: drop-shadow( -5px -5px 5px #000 );
}
.navbar{
position: absolute;
top: 1172px;
right: 4%;
padding: 15px 8px 8px 8px;
}
a{
text-decoration: none;
color: white;
padding: 15px;
padding-right: 30px;
font-size: 24.5px;
font-style: italic;
font-family: 'Nothing You Could Do', cursive;
letter-spacing: 2px;
}
.icon{
position: absolute;
font-size: 34px;
}
.hide{
overflow: hidden;
}
.intro{
background: rgb(0,0,0,0.95);
width: 100%;
height: 100%;
top: 0;
left: 0;
position: fixed;
display: flex;
align-items: center;
justify-content: center;
}
.intro-text{
color: rgb(180, 141, 100);
font-size: 1.8rem;
font-family: 'Marck Script', cursive;
font-style: italic;
}
.slider{
background: rgb(182, 136, 86);
width: 100%;
height: 100%;
top: 0;
left: 0;
position: fixed;
transform: translateY(100%);
}

.hide span{
transform: translateY(100%);
display: inline-block;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(120, 106, 93,0.9);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 154, 139,0.8);
}
	
@media screen and (max-width: 650px){
.h2{
top: 495px;
}
.word{
top: 550px;	
}
.navbar{
top: 615px;
}
a{
font-size: 15px;
padding: 5px;
}
h1{
font-size: 8px;
letter-spacing: 2px;
}
}
